h1 {
  color: #002954;
  font-size: 24px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: #002954;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 100;
  margin: 0;
  padding: 0;
}
li:first-letter {
  text-transform: capitalize;
}
.app-wrapper {
  margin: 0 auto;
  max-width: 500px;
  padding-top: 20px;
}
.card-border {
  padding: 20px;
  border: 1px solid #002954;
  border-radius: 5px;
}
.overview {
  padding-bottom: 20px;
}
.weather-icon {
  margin-right: 20px;
  width: 64px;
  height: 64px;
}
.temperature {
  font-size: 40px;
  color: #002954;
}
.main-celsius {
  color: #002954;
}
.icon {
  max-width: 80px;
}
.search-button {
  background-color: #e05c45;
  color: #002954;
  border-radius: 5px;
  border: 1px solid #e05c45;
}
.weather-forecast {
  margin: 10px;
}
.weather-forecast-day {
  font-size: 20px;
  color: #002954;
}
.weather-forecast-temp-max {
font-size: 16px;
font-weight: 500;
color: #002954;
}
.weather-forecast-temp-min {
  font-size: 16px;
  color: #002954;
 font-weight: 200;
}
.col-3 {
  background:#e05c45;
  border-radius: 5px;
  margin: 2px;
  text-align: center;
}